

<h1>New paper</h1>
<p>

<!-- 1.9.3-p392 :096 > Paper.first.assignment.name -->
<!-- f.assignment.name
@assignments.find(var).name -->
<!-- Assignment.find(var).name -->

<%= simple_form_for(@paper) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<!--     <%= f.association :assignment, label: "Choose your Assignment", prompt: "Assignment List" %> -->
    <% if params[:id] %>
    <% var =  params[:id] %>
    <%= f.association :assignment, label: "Select Your Assignment: " + Assignment.find(var).name %>
    <% else %>
    <%= f.association :assignment, label: "Select Your Assignment: " %>
    <% end %>


    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :file, :as => :file, :label => "PDF" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back', papers_path %>





<p>====



<h1>Listing of all papers</h1>

<% @papers.each do |paper| %>
    <p><%= link_to paper.name, paper %> : <%= paper.description %><p>
<% end %>

<div><%= link_to 'Back', courses_path %><%= render 'logo_paper' %></div>

<br />