<script type="text/javascript">

window.onload = function (){

  var success = new PDFObject({ url: "<%= @paper.file %>" }).embed("pdf");

};

</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Assignment:</b>
  <%= @paper.assignment_id %> <%= @paper.assignment.name %>
</p>

<p>
  <b>Name:</b>
  <%= @paper.name %>
</p>

<p>
  <b>Description:</b>
  <%= @paper.description %>
</p>

<p>
  <b>File:</b>
  <%= @paper.filename_short %>

</p>
<%= render 'logo_paper' %>

<h1>  <%= @paper.description %></h1>

<div id="pdf">It appears you don't have Adobe Reader or PDF support in this web browser. <a href="<%= @paper.file %>">Click here to download the PDF</a></div>


<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>

<p>
  <h1> Comments </h1>

  <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>



