<h1>Listing teacher_student_links</h1>

<table>
  <tr>
    <th>User</th>
    <th>Student</th>
    <th>Teacher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teacher_student_links.each do |teacher_student_link| %>
  <tr>
    <td><%= teacher_student_link.user_id %></td>
    <td><%= teacher_student_link.student_id %></td>
    <td><%= teacher_student_link.teacher_id %></td>
    <td><%= link_to 'Show', teacher_student_link %></td>
    <td><%= link_to 'Edit', edit_teacher_student_link_path(teacher_student_link) %></td>
    <td><%= link_to 'Destroy', teacher_student_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher student link', new_teacher_student_link_path %>
