<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @teacher_student_link.user_id %>
</p>

<p>
  <b>Student:</b>
  <%= @teacher_student_link.student_id %>
</p>

<p>
  <b>Teacher:</b>
  <%= @teacher_student_link.teacher_id %>
</p>


<%= link_to 'Edit', edit_teacher_student_link_path(@teacher_student_link) %> |
<%= link_to 'Back', teacher_student_links_path %>
