As Admin

Create Course


<h1>As Admin create New course</h1>

<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<div><%= link_to 'Back', courses_path %><%= render 'logo_course' %></div>


