<h2>Select Course</h2>


<p>
  <br>
<%= link_to 'New Course', new_course_path %>


<h2>Choose</h2>
<form action="/courses" method="get">
  <select name="id">
    <% @courses.each do |course| %>
      <option value="<%= course.id %>">
        <%= course.name %>
      </option>
    <% end %>
  </select>
  <button class="btn btn-primary">
    Go to course
  </button>
</form>
<!--
:class => "btn btn-success" -->
<div><%= link_to 'Back', pages_index_path %><%= render 'logo_course' %></div>
