<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<% if @teacher %>
  You're a teacher!
<% else %>
  You're not a teacher.  Ask the Admin to add you to this course
<% end %>

<p>




<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<p>
======

<p>

<h2>Choose</h2>
<form action="/papers/create_paper" method="get">
  <select name="id">
    <% @assignments.each do |assignment| %>
      <option value="<%= assignment.id %>">
        <%= assignment.name %>
      </option>
    <% end %>
  </select>
  <button class="btn btn-primary">
    Go to Assignment
  </button>
</form>
