<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<% if @teacher %>
  You're a teacher!
<% else %>
  You're not a teacher.
<% end %>

<p>
<div>
<%= radio_button_tag(:class_status, "teacher") %>
<%= label_tag(:for_teacher, "teacher") %>
<%= radio_button_tag(:class_status, "student") %>
<%= label_tag(:for_student, "student") %>
</div>

<%= simple_form_for @course do |f| %>
  <%= f.button :submit , 'Goto Assignments'%>
<% end %>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
