<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Peer Review App" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
                <ul class="nav">
                    <a class="brand" href="/">Feed &#60;</a>
                    <li><%= link_to "About", pages_about_path %></li>
                     <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle"  data-step="3" data-intro="Admins organize here" data-position='left' data-toggle="dropdown" href="#">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><%= link_to "List All Users", users_path %></li>
                            <li><%= link_to "List All Courses", courses_path %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Create Course", admin_create_course_path %></li>
                            <li><%= link_to "Set Teacher Course", new_course_teacher_path %></li>

                        </ul>
                      </li>
                     <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-step="4" data-intro="Teachers here are your courses!"  data-position='bottom' data-toggle="dropdown" href="#">Teacher<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><%= link_to "List All Assignments", assignments_path %></li>
                            <li><%= link_to "List All Papers", papers_path %></li>
                            <li class="divider"></li>

                            <li><%= link_to "Set Student Course", new_course_student_path %></li>
                            <li><%= link_to "Create Assignment", create_assignment_path %></li>

                        </ul>
                      </li>
                     <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-step="5" data-intro="Students see your papers here!"  data-position='right' data-toggle="dropdown" href="#">Student<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "List Papers", papers_path %></li>
                            <li class="divider"></li>

                            <li><%= link_to "Select Course", select_course_path %></li>

                            <li><%= link_to "Create Paper", create_paper_path %></li>

                        </ul>
                      </li>
                    <li><%= link_to "Code", pages_code_path %></li>

                </ul>
                <ul class="nav pull-right" data-step="6" data-intro="Sign in with Twitter here" data-position='left'>
                        <% if current_user %>
                    <li><%= link_to "Signed in as "+ current_user.name + ", Sign out", signout_path %></li>
                        <% else %>
                    <li><%= link_to "Sign in with Twitter", "/auth/twitter"%></li>
                        <% end %>
                </ul>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
<!--               <%= flash.inspect %>
 -->
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
