<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Peer Review App" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
                <ul class="nav">
                    <a class="brand" href="">Feed &#60;</a>

                    <li><a href="#">Admin</a></li>
                    <li><a href="#">Teacher</a></li>
                    <li><a href="#">Student</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Code</a></li>

                     <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>

                </ul>
                <ul class="nav pull-right">
                        <% if current_user %>
                    <li><%= link_to "Signed in as "+ current_user.name + ", Sign out", signout_path %></li>
                        <% else %>
                    <li><%= link_to "Sign in with Twitter", "/auth/twitter"%></li>
                        <% end %>
                </ul>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
<!--               <%= flash.inspect %>
 -->
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
